pkgbase = meta-system
	pkgdesc = Important packages for a functioning install
	pkgver = 1
	pkgrel = 5
	url = https://github.com/akazxd/meta-system
	arch = any
	license = GPL
	depends = base
	depends = base-devel
	depends = git
	depends = sudo
	depends = nano
	depends = less
	depends = which
	depends = wget
	depends = curl
	depends = iwd
	depends = util-linux
	depends = paru
	depends = alhp-keyring
	depends = alhp-mirrorlist
	depends = chaotic-keyring
	depends = chaotic-mirrorlist
	depends = linux-xanmod-edge-x64v3
	depends = linux-xanmod-edge-x64v3-headers
	depends = nvidia-dkms
	depends = amd-ucode
	depends = efibootmgr
	depends = linux-firmware
	depends = booster
	depends = mold
	depends = firefox
	depends = mpv
	depends = yt-dlp
	depends = expac
	depends = tk
	depends = uv
	depends = xdg-user-dirs
	depends = xdg-utils
	depends = bash-completion
	depends = kde-utilities-meta
	depends = kde-system-meta
	depends = plasma-meta
	depends = kde-graphics-meta
	depends = ghostwriter
	depends = wl-clipboard
	depends = ttf-croscore
	depends = ttf-liberation
	depends = trash-cli
	depends = ffmpegthumbs
	depends = kimageformats
	depends = tesseract-data-eng
	depends = firefox-ublock-origin
	depends = mandoc
	depends = openssh
	depends = lzop
	depends = p7zip
	depends = unarchiver
	optdepends = partitionmanager
	optdepends = kdeconnect
	optdepends = github-cli
	optdepends = sshfs

pkgname = meta-system
